USE [master]
GO
/****** Object:  Database [QLHV]    Script Date: 03-May-18 1:34:47 AM ******/
CREATE DATABASE [QLHV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLHV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SERVER\MSSQL\DATA\QLHV.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLHV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SERVER\MSSQL\DATA\QLHV_log.ldf' , SIZE = 4096KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLHV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLHV]
GO
/****** Object:  Table [dbo].[BIEN_LAI]    Script Date: 03-May-18 1:34:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BIEN_LAI](
	[MaBL] [int] NOT NULL,
	[NgayBL] [date] NOT NULL,
	[NoiDung] [nvarchar](100) NOT NULL,
	[SoTien] [int] NOT NULL,
 CONSTRAINT [PK_BIEN_LAI] PRIMARY KEY CLUSTERED 
(
	[MaBL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CA_HOC]    Script Date: 03-May-18 1:34:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_HOC](
	[MaCaHoc] [int] NOT NULL,
	[Buoi] [nchar](10) NOT NULL,
	[Gio] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CA_HOC] PRIMARY KEY CLUSTERED 
(
	[MaCaHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CAU_HOI]    Script Date: 03-May-18 1:34:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAU_HOI](
	[MaCauHoi] [int] NOT NULL,
	[CauHoi] [nvarchar](500) NOT NULL,
	[DapAnA] [nvarchar](500) NOT NULL,
	[DapAnB] [nvarchar](500) NOT NULL,
	[DapAnC] [nvarchar](500) NOT NULL,
	[DapAnD] [nvarchar](500) NOT NULL,
	[TraLoi] [nvarchar](5) NOT NULL,
	[MaLopHoc] [nvarchar](7) NULL,
 CONSTRAINT [PK_CAU_HOI] PRIMARY KEY CLUSTERED 
(
	[MaCauHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_DETHI]    Script Date: 03-May-18 1:34:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DETHI](
	[MaDeThi] [int] NOT NULL,
	[MaCauHoi] [int] NOT NULL,
 CONSTRAINT [PK_CT_DETHI_1] PRIMARY KEY CLUSTERED 
(
	[MaDeThi] ASC,
	[MaCauHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DAY]    Script Date: 03-May-18 1:34:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAY](
	[MaLopHoc] [nvarchar](7) NOT NULL,
	[MaGiaoVien] [nvarchar](7) NOT NULL,
 CONSTRAINT [PK_DAY] PRIMARY KEY CLUSTERED 
(
	[MaLopHoc] ASC,
	[MaGiaoVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DETHI]    Script Date: 03-May-18 1:34:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETHI](
	[MaDeThi] [int] NOT NULL,
	[MaKiThi] [nvarchar](7) NOT NULL,
 CONSTRAINT [PK_DETHI_1] PRIMARY KEY CLUSTERED 
(
	[MaDeThi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GIAO_VIEN]    Script Date: 03-May-18 1:34:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAO_VIEN](
	[MaGiaoVien] [nvarchar](7) NOT NULL,
	[HoTenGiaoVien] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_GIAO_VIEN] PRIMARY KEY CLUSTERED 
(
	[MaGiaoVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOC]    Script Date: 03-May-18 1:34:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOC](
	[MaHocVien] [nvarchar](7) NOT NULL,
	[MaLopHoc] [nvarchar](7) NOT NULL,
 CONSTRAINT [PK_HOC] PRIMARY KEY CLUSTERED 
(
	[MaHocVien] ASC,
	[MaLopHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOC_VIEN]    Script Date: 03-May-18 1:34:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOC_VIEN](
	[MaHocVien] [nvarchar](7) NOT NULL,
	[HoTenHocVien] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[SoDT] [nvarchar](50) NULL,
	[NgheNghiep] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[TaiKhoan] [nvarchar](50) NULL,
 CONSTRAINT [PK_HOC_VIEN] PRIMARY KEY CLUSTERED 
(
	[MaHocVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHOA_HOC]    Script Date: 03-May-18 1:34:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA_HOC](
	[MaKhoaHoc] [nvarchar](7) NOT NULL,
	[TenKhoaHoc] [nvarchar](50) NOT NULL,
	[NgayBD] [date] NOT NULL,
	[NgayKT] [date] NOT NULL,
 CONSTRAINT [PK_KHOA_HOC] PRIMARY KEY CLUSTERED 
(
	[MaKhoaHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KI_THI]    Script Date: 03-May-18 1:34:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KI_THI](
	[MaKiThi] [nvarchar](7) NOT NULL,
	[TenKiThi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_KI_THI] PRIMARY KEY CLUSTERED 
(
	[MaKiThi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOP_HOC]    Script Date: 03-May-18 1:34:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP_HOC](
	[MaLopHoc] [nvarchar](7) NOT NULL,
	[TenLopHoc] [nvarchar](50) NOT NULL,
	[SiSoDK] [int] NOT NULL,
	[HocPhi] [int] NOT NULL,
	[MaKhoaHoc] [nvarchar](7) NOT NULL,
 CONSTRAINT [PK_LOP_HOC] PRIMARY KEY CLUSTERED 
(
	[MaLopHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHAN_CONG]    Script Date: 03-May-18 1:34:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHAN_CONG](
	[MaGiaoVien] [nvarchar](7) NOT NULL,
	[MaCaHoc] [int] NOT NULL,
	[MaLopHoc] [nvarchar](7) NOT NULL,
 CONSTRAINT [PK_PHAN_CONG] PRIMARY KEY CLUSTERED 
(
	[MaGiaoVien] ASC,
	[MaCaHoc] ASC,
	[MaLopHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHAN_QUYEN]    Script Date: 03-May-18 1:34:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHAN_QUYEN](
	[MaLoai] [int] NOT NULL,
	[PhanQuyen] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PHAN_QUYEN] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHONG_HOC]    Script Date: 03-May-18 1:34:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG_HOC](
	[MaPhongHoc] [nvarchar](7) NOT NULL,
	[TenPhong] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PHONG_HOC] PRIMARY KEY CLUSTERED 
(
	[MaPhongHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAI_KHOAN]    Script Date: 03-May-18 1:34:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_KHOAN](
	[TaiKhoan] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[MaLoai] [int] NOT NULL,
 CONSTRAINT [PK_TAI_KHOAN] PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THI]    Script Date: 03-May-18 1:34:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THI](
	[MaDeThi] [int] NOT NULL,
	[MaLopHoc] [nvarchar](7) NOT NULL,
	[MaHocVien] [nvarchar](7) NOT NULL,
	[NgayThi] [date] NOT NULL,
	[KetQua] [int] NOT NULL,
 CONSTRAINT [PK_THI_1] PRIMARY KEY CLUSTERED 
(
	[MaDeThi] ASC,
	[MaLopHoc] ASC,
	[MaHocVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TINH_TRANG_PHONG]    Script Date: 03-May-18 1:34:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINH_TRANG_PHONG](
	[MaLopHoc] [nvarchar](7) NOT NULL,
	[MaCaHoc] [int] NOT NULL,
	[MaPhongHoc] [nvarchar](7) NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[MaLopHoc] ASC,
	[MaCaHoc] ASC,
	[MaPhongHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[XUAT]    Script Date: 03-May-18 1:34:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XUAT](
	[MaBL] [int] NOT NULL,
	[MaHocVien] [nvarchar](7) NOT NULL,
 CONSTRAINT [PK_XUAT] PRIMARY KEY CLUSTERED 
(
	[MaBL] ASC,
	[MaHocVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CT_DETHI]  WITH CHECK ADD  CONSTRAINT [FK_CT_DETHI_CAU_HOI] FOREIGN KEY([MaCauHoi])
REFERENCES [dbo].[CAU_HOI] ([MaCauHoi])
GO
ALTER TABLE [dbo].[CT_DETHI] CHECK CONSTRAINT [FK_CT_DETHI_CAU_HOI]
GO
ALTER TABLE [dbo].[CT_DETHI]  WITH CHECK ADD  CONSTRAINT [FK_CT_DETHI_DETHI] FOREIGN KEY([MaDeThi])
REFERENCES [dbo].[DETHI] ([MaDeThi])
GO
ALTER TABLE [dbo].[CT_DETHI] CHECK CONSTRAINT [FK_CT_DETHI_DETHI]
GO
ALTER TABLE [dbo].[DAY]  WITH CHECK ADD  CONSTRAINT [FK_DAY_GIAO_VIEN] FOREIGN KEY([MaGiaoVien])
REFERENCES [dbo].[GIAO_VIEN] ([MaGiaoVien])
GO
ALTER TABLE [dbo].[DAY] CHECK CONSTRAINT [FK_DAY_GIAO_VIEN]
GO
ALTER TABLE [dbo].[DAY]  WITH CHECK ADD  CONSTRAINT [FK_DAY_LOP_HOC] FOREIGN KEY([MaLopHoc])
REFERENCES [dbo].[LOP_HOC] ([MaLopHoc])
GO
ALTER TABLE [dbo].[DAY] CHECK CONSTRAINT [FK_DAY_LOP_HOC]
GO
ALTER TABLE [dbo].[DETHI]  WITH CHECK ADD  CONSTRAINT [FK_DETHI_KI_THI] FOREIGN KEY([MaKiThi])
REFERENCES [dbo].[KI_THI] ([MaKiThi])
GO
ALTER TABLE [dbo].[DETHI] CHECK CONSTRAINT [FK_DETHI_KI_THI]
GO
ALTER TABLE [dbo].[HOC]  WITH CHECK ADD  CONSTRAINT [FK_HOC_HOC_VIEN] FOREIGN KEY([MaHocVien])
REFERENCES [dbo].[HOC_VIEN] ([MaHocVien])
GO
ALTER TABLE [dbo].[HOC] CHECK CONSTRAINT [FK_HOC_HOC_VIEN]
GO
ALTER TABLE [dbo].[HOC]  WITH CHECK ADD  CONSTRAINT [FK_HOC_LOP_HOC] FOREIGN KEY([MaLopHoc])
REFERENCES [dbo].[LOP_HOC] ([MaLopHoc])
GO
ALTER TABLE [dbo].[HOC] CHECK CONSTRAINT [FK_HOC_LOP_HOC]
GO
ALTER TABLE [dbo].[HOC_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_HOC_VIEN_TAI_KHOAN] FOREIGN KEY([TaiKhoan])
REFERENCES [dbo].[TAI_KHOAN] ([TaiKhoan])
GO
ALTER TABLE [dbo].[HOC_VIEN] CHECK CONSTRAINT [FK_HOC_VIEN_TAI_KHOAN]
GO
ALTER TABLE [dbo].[LOP_HOC]  WITH CHECK ADD  CONSTRAINT [FK_LOP_HOC_KHOA_HOC] FOREIGN KEY([MaKhoaHoc])
REFERENCES [dbo].[KHOA_HOC] ([MaKhoaHoc])
GO
ALTER TABLE [dbo].[LOP_HOC] CHECK CONSTRAINT [FK_LOP_HOC_KHOA_HOC]
GO
ALTER TABLE [dbo].[PHAN_CONG]  WITH CHECK ADD  CONSTRAINT [FK_PHAN_CONG_CA_HOC] FOREIGN KEY([MaCaHoc])
REFERENCES [dbo].[CA_HOC] ([MaCaHoc])
GO
ALTER TABLE [dbo].[PHAN_CONG] CHECK CONSTRAINT [FK_PHAN_CONG_CA_HOC]
GO
ALTER TABLE [dbo].[PHAN_CONG]  WITH CHECK ADD  CONSTRAINT [FK_PHAN_CONG_GIAO_VIEN] FOREIGN KEY([MaGiaoVien])
REFERENCES [dbo].[GIAO_VIEN] ([MaGiaoVien])
GO
ALTER TABLE [dbo].[PHAN_CONG] CHECK CONSTRAINT [FK_PHAN_CONG_GIAO_VIEN]
GO
ALTER TABLE [dbo].[PHAN_CONG]  WITH CHECK ADD  CONSTRAINT [FK_PHAN_CONG_LOP_HOC] FOREIGN KEY([MaLopHoc])
REFERENCES [dbo].[LOP_HOC] ([MaLopHoc])
GO
ALTER TABLE [dbo].[PHAN_CONG] CHECK CONSTRAINT [FK_PHAN_CONG_LOP_HOC]
GO
ALTER TABLE [dbo].[TAI_KHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAI_KHOAN_PHAN_QUYEN] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[PHAN_QUYEN] ([MaLoai])
GO
ALTER TABLE [dbo].[TAI_KHOAN] CHECK CONSTRAINT [FK_TAI_KHOAN_PHAN_QUYEN]
GO
ALTER TABLE [dbo].[THI]  WITH CHECK ADD  CONSTRAINT [FK_THI_DETHI] FOREIGN KEY([MaDeThi])
REFERENCES [dbo].[DETHI] ([MaDeThi])
GO
ALTER TABLE [dbo].[THI] CHECK CONSTRAINT [FK_THI_DETHI]
GO
ALTER TABLE [dbo].[THI]  WITH CHECK ADD  CONSTRAINT [FK_THI_HOC_VIEN] FOREIGN KEY([MaHocVien])
REFERENCES [dbo].[HOC_VIEN] ([MaHocVien])
GO
ALTER TABLE [dbo].[THI] CHECK CONSTRAINT [FK_THI_HOC_VIEN]
GO
ALTER TABLE [dbo].[THI]  WITH CHECK ADD  CONSTRAINT [FK_THI_LOP_HOC] FOREIGN KEY([MaLopHoc])
REFERENCES [dbo].[LOP_HOC] ([MaLopHoc])
GO
ALTER TABLE [dbo].[THI] CHECK CONSTRAINT [FK_THI_LOP_HOC]
GO
ALTER TABLE [dbo].[TINH_TRANG_PHONG]  WITH CHECK ADD  CONSTRAINT [FK_TINH_TRANG_PHONG_CA_HOC] FOREIGN KEY([MaCaHoc])
REFERENCES [dbo].[CA_HOC] ([MaCaHoc])
GO
ALTER TABLE [dbo].[TINH_TRANG_PHONG] CHECK CONSTRAINT [FK_TINH_TRANG_PHONG_CA_HOC]
GO
ALTER TABLE [dbo].[TINH_TRANG_PHONG]  WITH CHECK ADD  CONSTRAINT [FK_TINH_TRANG_PHONG_LOP_HOC] FOREIGN KEY([MaLopHoc])
REFERENCES [dbo].[LOP_HOC] ([MaLopHoc])
GO
ALTER TABLE [dbo].[TINH_TRANG_PHONG] CHECK CONSTRAINT [FK_TINH_TRANG_PHONG_LOP_HOC]
GO
ALTER TABLE [dbo].[TINH_TRANG_PHONG]  WITH CHECK ADD  CONSTRAINT [FK_TINH_TRANG_PHONG_PHONG_HOC] FOREIGN KEY([MaPhongHoc])
REFERENCES [dbo].[PHONG_HOC] ([MaPhongHoc])
GO
ALTER TABLE [dbo].[TINH_TRANG_PHONG] CHECK CONSTRAINT [FK_TINH_TRANG_PHONG_PHONG_HOC]
GO
ALTER TABLE [dbo].[XUAT]  WITH CHECK ADD  CONSTRAINT [FK_XUAT_BIEN_LAI] FOREIGN KEY([MaBL])
REFERENCES [dbo].[BIEN_LAI] ([MaBL])
GO
ALTER TABLE [dbo].[XUAT] CHECK CONSTRAINT [FK_XUAT_BIEN_LAI]
GO
ALTER TABLE [dbo].[XUAT]  WITH CHECK ADD  CONSTRAINT [FK_XUAT_HOC_VIEN] FOREIGN KEY([MaHocVien])
REFERENCES [dbo].[HOC_VIEN] ([MaHocVien])
GO
ALTER TABLE [dbo].[XUAT] CHECK CONSTRAINT [FK_XUAT_HOC_VIEN]
GO
USE [master]
GO
